
<h2>GYMTIME</h2>
<h3>Demo website to show and manipulate a gym timetable</h3>

<address>
    One Made Up Way<br />
    Made Up Town<br />
    Made Up Ville<br />
    Cornwall, UK<br />
    <abbr title="Phone">P:</abbr>
    0111 1111111
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:>richb999@tiscali.co.uk">richb999@tiscali.co.uk</a><br />
</address>