
@if (ViewBag.a.UserIds.Length != 0)
{
    @Html.ActionLink("Class details", "Details", new { id = ViewBag.a.Id }, new { @class = "btn btn-primary mb-6 rounded", onClick = "buttonClick()" })
    <p class="text-black mb-1 mt-1 h5">Members booked: @ViewBag.numInClass</p>
    <p class="text-black mt-1">Cannot edit/delete</p>
}
else
{
    @Html.ActionLink("Edit Class", "Edit", new { id = ViewBag.a.Id }, new { @class = "btn btn-primary mb-6 rounded mr-5", onClick = "buttonClick()" })
    @Html.ActionLink("Delete class", "Delete", new { id = ViewBag.a.Id }, new { @class = "btn btn-danger mb-6 rounded mr-5", onClick = "buttonClick()" })
}
